<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/d8ed6b14-4d33-4797-bd0e-757eb39ef451/resourcegroups/pkt-mvcmusicstore-docker-rg/providers/Microsoft.Web/sites/pkt-mvcmusicstore-docker-web</ResourceId>
    <ResourceGroup>pkt-mvcmusicstore-docker-rg</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pkt-mvcmusicstore-docker-web.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/d8ed6b14-4d33-4797-bd0e-757eb39ef451/resourcegroups/pkt-mvcmusicstore-docker-rg/providers/Microsoft.ContainerRegistry/registries/pkt0mvcmusicstore0docker0acr</ContainerResourceId>
    <ContainerResourceName>pkt0mvcmusicstore0docker0acr</ContainerResourceName>
    <Subscription>Pass Azure</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://pkt0mvcmusicstore0docker0acr.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8965699c-94aa-4542-a1a2-2cb27ce2d949</ProjectGuid>
  </PropertyGroup>
</Project>